.bubble-slideshow {
    position: relative;
}

.bs-nav-wrapper {
    position: relative;
    top: -30px;
}

.bs-nav {
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.bs-nav a {
    display: block;
    clear: none;
    float: left;
    text-decoration: none;
}